.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-link {
  color: #ffffff;
  width: 200px;
  font-size: 40px;
  font-family: "Oxygen";
  text-transform: lowercase;
  text-decoration: none;
}
.navigation-links-link1 {
  color: #ffffff;
  width: 200px;
  font-size: 40px;
  font-family: "Oxygen";
  margin-left: var(--dl-space-space-twounits);
  text-transform: lowercase;
  text-decoration: none;
}
.navigation-links-link2 {
  color: #ffffff;
  width: 200px;
  font-size: 40px;
  font-family: "Oxygen";
  margin-left: var(--dl-space-space-twounits);
  text-transform: lowercase;
  text-decoration: none;
}









@media(max-width: 991px) {
  .navigation-links-root-class-name15 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-link {
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    align-self: center;
    text-align: center;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link2 {
    align-self: center;
    text-align: center;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.feature-card1-feature-card {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  border-color: #000000;
  border-style: hidden;
  border-width: 5px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
}
.feature-card1-feature-card:hover {
  transform: scale(1.02);
}
.feature-card1-image {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.feature-card1-text {
  text-align: center;
  font-family: "MCPEfont";
  margin-bottom: var(--dl-space-space-twounits);
}



.feature-card1-root-class-name3 {
  display: none;
}
.feature-card1-root-class-name4 {
  display: none;
}
.feature-card1-root-class-name5 {
  display: none;
}
.feature-card1-root-class-name6 {
  display: none;
}
.feature-card1-root-class-name7 {
  display: none;
}
@media(max-width: 991px) {
  .feature-card1-root-class-name3 {
    display: none;
  }
  .feature-card1-root-class-name4 {
    display: none;
  }
  .feature-card1-root-class-name5 {
    display: none;
  }
  .feature-card1-root-class-name6 {
    display: none;
  }
  .feature-card1-root-class-name7 {
    display: none;
  }
}
@media(max-width: 479px) {
  .feature-card1-feature-card {
    width: auto;
    border-style: hidden;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fa7c9d;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fa7c9d;
}
.home-details {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fa7c9d;
}
.home-container02 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-image {
  width: 80px;
  height: 52px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon {
  fill: #ffffff;
  width: 64px;
  height: 66px;
  align-self: center;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #fa7c9d;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.home-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 80px;
  align-self: center;
  font-family: "MCPEfont";
}
.home-image2 {
  width: var(--dl-size-size-medium);
  align-self: center;
  object-fit: cover;
}
.home-header1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #fa7c9d;
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-nav2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-accordion-header {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.home-nav3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa7c9d;
}
.home-features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container07 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text1 {
  color: #fa7c9d;
  font-size: 4rem;
  align-self: center;
  font-family: "GlitchGoblin";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container08 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container09 {
  align-self: center;
}
.home-container10 {
  display: contents;
}
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-link2 {
  display: contents;
}
.home-image3 {
  width: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-left: 20px;
  padding-top: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-image4 {
  width: var(--dl-size-size-small);
  align-self: center;
  object-fit: cover;
  margin-left: 20px;
  padding-top: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.home-pricing {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-gallery {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa7c9d;
}
.home-features2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-text4 {
  font-size: 4rem;
  align-self: center;
  font-family: "GlitchGoblin";
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-component03 {
  text-decoration: none;
}
.home-component04 {
  text-decoration: none;
}
.home-component05 {
  text-decoration: none;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.home-banner1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.home-banner-heading {
  color: #fa7c9d;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.home-banner-sub-heading {
  color: #fa7c9d;
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  line-height: 1.6;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .home-header {
    background-color: #fa7c9d;
  }
  .home-nav3 {
    padding-top: 16px;
  }
  .home-text1 {
    color: #fa7c9d;
    font-size: 4rem;
    align-self: center;
    font-family: GlitchGoblin;
  }
  .home-container08 {
    width: 691px;
    align-self: center;
    align-items: stretch;
  }
  .home-container09 {
    width: auto;
  }
  .home-container11 {
    align-self: center;
    justify-content: center;
  }
  .home-image3 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: center;
    margin-right: 10px;
  }
  .home-image4 {
    width: var(--dl-size-size-small);
    align-self: center;
  }
  .home-text4 {
    font-size: 4rem;
    align-self: center;
    font-family: GlitchGoblin;
  }
  .home-container12 {
    grid-template-columns: 1fr 1fr;
  }
  .home-banner-heading {
    color: #fa7c9d;
    font-family: Raleway;
    line-height: 1.6;
  }
  .home-banner-sub-heading {
    color: #FA7C9D;
    max-width: 100%;
    line-height: 1.6;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-header1 {
    align-self: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-nav2 {
    display: none;
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-icon-group {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-header1 {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-features2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container12 {
    grid-gap: var(--dl-space-space-halfunit);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
